.container__navbar {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 35px;
}

.navbar__logo > a {
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  
}

.navbar__logo > a > h1 {
  /* color: #0c0c0b; */
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 500;

}

.navbar__logo > a > img {
  width: 25px;
  height: 25px;
}

.navbar__menu {
  /* color: #0c0c0b; */
  cursor: pointer;
}