<div class="home__container">
  <div class="home__main">
    <div class="main__name">
      <h2>Newsroom</h2>
    </div>
    <div class="main__article">
      <app-main-article
        id="1"
        articleTitle="Feynman Technique: what it is and how to use it to improve learning"
        articleAuthor="sunny"
        articleDate="October 25th, 2024"
        articleImg="img/photo_1.jpg"
      ></app-main-article>
    </div>
  </div>
  <div class="home__others">
    <div class="section__name">
      <h2>Recent</h2>
      <h2>News</h2>
    </div>
    <div class="section__cards">
      <app-card
        id="2"
        articleImg="/img/photo_6.png"
        articleDate="2024.10.21"
        articleTitle="Things that I cary on everyday"
      ></app-card>
      <app-card
        id="3"
        articleImg="/img/photo_3.jpg"
        articleDate="2024.10.18"
        articleTitle="Everything you need to know before getting a Shi-Tzu"
      ></app-card>
      <app-card
        id="4"
        articleImg="/img/photo_4.jpg"
        articleDate="2024.10.15"
        articleTitle="How I organize my study and work routine to be more productive"
      ></app-card>
      <app-card
        id="5"
        articleImg="/img/photo_5.jpg"
        articleDate="2024.10.12"
        articleTitle="Why keeping a diary helps you build and maintain good habits"
      ></app-card>
      <app-card
        id="6"
        articleImg="/img/photo_2.jpg"
        articleDate="2024.10.09"
        articleTitle="Books that changed my mindset for life"
      ></app-card>
      <app-card
        id="7"
        articleImg="/img/photo_1.jpg"
        articleDate="2024.10.06"
        articleTitle="Best techniques for being a self-taught person"
      ></app-card>
    </div>
  </div>
</div>
