
body {
  background: #FFFFFF;
  height: 100vh;
  margin: 0 auto;
  position: relative;
}

.bg__container {
  z-index: -1;
  background-color: rgb(187, 187, 186);
  height: 100vh;
  width: 100%;
  position: absolute;
}

.home__container {
  min-height: auto  ;
  padding: 0 30px;
}

.home__main {
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.main__name {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.main__name > h2 {
  font-size: 90px;
  font-weight: 400;
  text-transform: uppercase;
  word-break: break-word;
  line-height: 90px;
}

.main__article {
  width: 100%;
  height: 80%;
}

.home__others {
  /* min-height: fit-content; */
  min-height: 600px;
  /* margin-bottom: 30px; */

  background-color: green;
}

.section__name {
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.section__name > h2 {
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 40px;
}

.section__name > h2:last-child {
  color: rgb(145, 145, 145);
}

.section__cards {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* gap: 22px; */

  border: 1px solid red;
}