<div class="bg__container"></div> 

<app-navbar></app-navbar>

<div class="home__container">
  <div class="home__main">
    <div class="main__name">
      <h2>Newsroom</h2>
    </div>
    <div class="main__article">
      <app-main-article></app-main-article>
    </div>
  </div>
  <div class="home__others">
    <div class="section__name">
      <h2>Recent</h2>
      <h2>News</h2>
    </div>
    <div class="section__cards">
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
    </div>
  </div>

</div>