<div class="header__container">
  <div class="header__title">
    <h1>{{ articleTitle }}</h1>
  </div>
  <div class="header__infos">
    <p>by {{ articleAuthor }}</p>
    <p>{{ articleDate }}</p>
    <div class="info__social">
      <a href="#"><i class="fa-brands fa-instagram fa-lg"></i></a>
      <a href="#"><i class="fa-brands fa-x-twitter fa-lg"></i></a>
      <a href="#"><i class="fa-brands fa-youtube fa-lg"></i></a>
    </div>
  </div>
  <div class="header__img">
    <img src="{{ articleImg }}">
  </div>
</div>
